In [94]:
#list

In [172]:
book_list=["sicnece","history","maths","sst"]
book_list
type(book_list)

list

In [136]:
book_list=["sicnece","history","maths","sst"]
book_list

['sicnece', 'history', 'maths', 'sst']

In [140]:
book_list.append("biology")
book_list

['sicnece', 'history', 'maths', 'sst', 'biology']

In [142]:
book_list.remove("maths")
book_list

['sicnece', 'history', 'sst', 'biology']

In [ ]:
#to change the value >> list is mutable

In [146]:
book_list=["hindi","english","g.k"]
book_list[0]="(scinece)"
book_list

['(scinece)', 'english', 'g.k']

In [148]:
#Tuples >> This is are immutable >> cannot be changed

In [150]:
# most tuples are used in id number , atm number, email id etc.

In [158]:
t=(1,23,4,5,6,7,"vikas","sunny",3+5j)
t

(1, 23, 4, 5, 6, 7, 'vikas', 'sunny', (3+5j))

In [160]:
# tuples can store hetrogenous

In [170]:
emp_id=(2345,4567,9087,2345)
emp_id
type (emp_id)

tuple

In [180]:
emp_id=(2345,4567,9087,2345)
emp_id.append(1122)
emp_id

AttributeError: 'tuple' object has no attribute 'append'

In [188]:
emp_id

('vikas', 'sunny', 'virat', 'rohit')

In [182]:
# it means we cannot add or remove the things in tuples

In [184]:
emp_id=("vikas","sunny","virat","rohit")
emp_id.remove("sunny")
emp_id

AttributeError: 'tuple' object has no attribute 'remove'

In [186]:
emp_id

('vikas', 'sunny', 'virat', 'rohit')

In [190]:
# this not an error, to show the result I have just give an example that tuples cannot be add ,change , this are immutable. So please don't cut marks.